@tailwind base;
@tailwind components;
@media only screen and (min-width:981px) and (max-width:1024){
    
    
}
@media only screen and (min-width: 769px)  and (max-width:980px) {
  
    
}
@media only screen and (max-width:768px){
    :root{
        font-size:10px;
    }
    .main-container{
        margin-right:1.5rem;
        margin-left:1.5rem;
        
    }
    nav{
        margin-top:2.5rem;
        
    }
    
    
        h1{
            font-size:1.5rem
        }
        
    
}
@media (min-width: 769px)   {
    nav{
        margin-top:1rem;
        margin-left:0.3rem;
        margin-right:0.3rem;
    }

}
@tailwind utilities;